<html lang="en" <%- theme === 'dark' ? 'style="filter: invert(1)"' : '' %>>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center align-items-center content">
            <div class="col-6 text-center">
                <h1 class="title"><%= title %></h1>
                <br>
                <small>Usage</small>
                <p><%= disk.used %>/<%= disk.total %> GB // <%= disk.percentage %>%</p>
                <div class="progress" style="width: <%= disk.percentage %>%"></div>
            </div>
        </div>
    </div>
    <style>
        .row.content {
            height: 80vh;
        }
        .title {
            text-transform: none;
            font-family: monospace;
        }
        .progress {
            background: none;
            border-top: 1px solid black;
        }
    </style>
</body>

</html>